.venv/
.ipynb_checkpoints/
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/
__pycache__/
*.pyc

RAG_Context_Adherence_And_Hallucination_Benchmark.csv
01_data_exploration.ipynb
.venv/
.ipynb_checkpoints/
__pycache__/
*.pyc

RAG_Context_Adherence_And_Hallucination_Benchmark.csv
01_data_exploration.ipynb

*.svg
final_model_results.csv